
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Anasayfa.css">
    <title>Document</title>
</head>
<body id="anasayfaBody"> 



     

    <div class="card">
    <div class="products">
        <div class="product active" product-id="1" product-color="#396d7c">
            <div class="thumbnail"><a asp-area="" asp-controller="Home" asp-action="ekranKarti"><img src="~/image/graphics-card.svg" width="200px"/></a></div>
            <h1 class="title">EKRAN KARTLARI</h1>
            <p class="description">En Yeni Grafikleri,Son Nesil GPU'lar ile Keşfedin.(Ürün Listesine Gitmek İçin Simgeye Tıklayın)</p>
        </div>

        <div class="product" product-id="2" product-color="#8ca19e">
            <div class="thumbnail"><a href=""><img src="~/image/cpu.svg"  width="200px"/></a></div>
            <h1 class="title">İŞLEMCİLER</h1>
            <p class="description">En Zor İşlemlerde bile Her zaman En hızlısı Siz Olun.(Ürün Listesine Gitmek İçin Simgeye Tıklayın)</p>
        </div>

        <div class="product" product-id="3" product-color="#A5AAAE">
            <div class="thumbnail"><a href=""><img src="~/image/ram.svg"  width="200px"/></a></div>
            <h1 class="title">BELLEKLER</h1>
            <p class="description">Hiçbir işleminiz aksamadan son Sürat devam etsin.(Ürün Listesine Gitmek İçin Simgeye Tıklayın)</p>
        </div>
        <div class="product" product-id="4" product-color="#ED8D1F">
            <div class="thumbnail"><a href=""><img src="~/image/power.svg"  width="200px"/></a></div>
            <h1 class="title">GÜÇ</h1>
            <p class="description">Eşsiz Performans ile Tassarufun Doruklarına Ulaşın(Ürün Listesine Gitmek İçin Simgeye Tıklayın)</p>
        </div>
        <div class="product" product-id="5" product-color="#C4C8CB">
            <div class="thumbnail"><a href=""><img src="~/image/ssd-drive.svg"  width="200px" /></a></div>
            <h1 class="title">DEPOLAMA</h1>
            <p class="description">Yeni SSD Ve HDD'ler ile çok daha fazlasını saklayın.(Ürün Listesine Gitmek İçin Simgeye Tıklayın)</p>
        </div>

        <div class="product" product-id="6" product-color="#A5AAAE">
            <div class="thumbnail"><a href=""><img src="~/image/curved.svg" width="200px"/></a></div>
            <h1 class="title">MONİTÖRLER</h1>
            <p class="description">144HZ yenileme hızı ile Kendinizi Akışa Bırakın.(Ürün Listesine Gitmek İçin Simgeye Tıklayın)</p>
        </div>

    </div>

    <div class="footerNew"><a class="btn" id="prev" href="#" ripple="" ripple-color="#666666">Önceki</a><a class="btn" id="next" href="#" ripple="" ripple-color="#666666">Sonraki</a></div>
</div>




</body>
</html>