
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/privacy.css">
  
    
</head>
<body>
    <div class="thing">
        @* <h2>a little title</h2> *@
        <p>Hocam Ekran Kartı Class'i Entites Klasor Icerisinde olusturdum.Nav bar'dan urunler tikladiginizda ekran kartini acmak icin tam olarak ekran kartinin simgesine tiklamalisiniz veya anasayfada cikan bütün urunlerin simgesi sizi ekran karti sayfasina goturecektir. Diger urunleride yapacaktım ama sadece ekran kartini istiyor olabileceginizden dokunmadım. Siralama yapmak icinde .NET kaynagi bulamadigimdan Javascript Koduyla Siraladim. wwwroot => js => sirala.js dosyayası.Degiskenlere olabildigince anlasilabilir isim koyarak Camel case metodunu kullandım.Ürünlerin eklemesini ise HomeController.cs içerisinde  public IActionResult ekranKarti() metodu altında yaptım.</p>
    </div>

    <a href="~/Home/Anasayfa"> <h1 class="heading"> Anasayfaya Dönün 👆</h1>></a>

    <a href="~/Home/ekranKarti"> <h1 class="heading"> Direk Ekran Kartı Sayfasına Gidin 👆</h1>></a>
</body>
</html>