
    <link rel="stylesheet" href="~/css/urunler.css">
<div class="container1">
  
  <div class="items" >
    <div class="icon-wrapper" >
     <a asp-area="" asp-controller="Home" asp-action="ekranKarti"><img src="~/image/graphics-card.svg" width="80px" class="deneme" alt="Ekran"></a>
    </div>
    <div class="project-name">
      <p>EKRAN KARTLARI</p>
    </div>
  </div>



 <div class="items">
    <div class="icon-wrapper">
      <a asp-area="" asp-controller="Home" asp-action="ekranKarti"><img src="~/image/cpu.svg" width="80px" class="deneme" alt="Ekran"></a>
    </div>
    <div class="project-name">
      <p>İŞLEMCİLER</p>
    </div>
  </div>



 <div class="items">
    <div class="icon-wrapper">
      
      <a asp-area="" asp-controller="Home" asp-action="ekranKarti"><img src="~/image/ram.svg" width="80px" class="deneme" alt="Ekran"></a>
    </div>
    <div class="project-name">
      <p>BELLEKLER</p>
    </div>
  </div>

     <div class="items">
    <div class="icon-wrapper">
     
      <a asp-area="" asp-controller="Home" asp-action="ekranKarti"><img src="~/image/ssd-drive.svg" width="80px" class="deneme" alt="Ekran"></a>
    </div>
    <div class="project-name">
      <p>DEPOLAMA</p>
    </div>
  </div>
  
  <div class="items">
    <div class="icon-wrapper">
      
       <a asp-area="" asp-controller="Home" asp-action="ekranKarti"><img src="~/image/power.svg" width="80px" class="deneme" alt="Ekran"></a>
    </div>
    <div class="project-name">
      <p>GÜÇ</p>
    </div>
  </div>


  <div class="items">
    <div class="icon-wrapper">
      
       <a asp-area="" asp-controller="Home" asp-action="ekranKarti"><img src="~/image/curved.svg" width="80px" class="deneme" alt="Ekran"></a>
    </div>
    <div class="project-name">
      <p>MONİTÖRLER</p>
    </div>
  </div>  
</div>