

@{
	Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/userLogin.css">
</head>
<body>
   <div class="container" onclick="onclick">
    <div class="top"></div>
    <div class="bottom"></div>
    <div class="center">
        <h2>Giriş Yapın</h2><input type="email" placeholder="email" /><input type="password" placeholder="Şifre" />
        <h2>&nbsp;</h2>
		<a href="~/Home/Anasayfa">Anasayfaya Dönün</a>
    </div>
	
</div>
<script src="~/js/login.js"></script>
</body>
</html>